/* Login.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: hsl(218, 41%, 15%);
}

.background-radial-gradient {
  background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%),
    radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 40px;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display:grid ;
  margin-bottom: 2%;
}

.mb-4{
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
}

/* Login.css */
input::placeholder {
  color: #6c757d; /* Un gris claro para el placeholder */
  opacity: 1;     /* Asegura que el placeholder sea completamente visible */
}

input {
  color: black; /* Asegura que el texto del input sea negro */
}


.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
